<%= form_for [@algorithm, @article], html: { class: 'text-center'} do |f| %>
  <div class="w-50 mx-auto">
    <div class="flex flex-col mx-auto mb-4 max-w-xs">
      <%= f.fields_for @article do |a| %>
        <div class="flex flex-col mx-auto mb-4 max-w-xs">
          <%= a.label :title, class: 'mb-2 text-lg text-gray-400' %>
          <%= a.text_field :title, class: 'rounded-md' %>
        </div>
        <div class="flex flex-col mx-auto mb-4 max-w-xs">
          <%= a.label :article_content, class: 'mb-2 text-lg text-gray-400' %>
          <%= a.text_area :article_content, class: 'rounded-md' %>
        </div>
      <% end %>
      <div class="text-center">
        <%= f.submit "Add #{@algorithm.name} Article", class: 'submit-btn' %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'back', algorithm_path(@algorithm), class: 'text-blue-400' %>