<%= form_for [@algorithm, @article], html: { class: 'text-center'} do |f| %>
  <div class="mx-auto">
    <div class="form-section">
      <%= f.fields_for @article do |a| %>
        <div class="form-section">
          <%= a.label :title, class: 'form-label' %>
          <%= a.text_field :title, class: 'rounded-md' %>
        </div>
        <div class="form-section">
          <%= a.label :article_content, class: 'form-label' %>
          <%= a.rich_text_area :content, size: "50x20"  %>
        </div>
      <% end %>
      <div class="text-center">
        <%= f.submit "Add #{@algorithm.name} Article", class: 'submit-btn' %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'back', algorithm_path(@algorithm), class: 'text-blue-400' %>