<%= form_for [@algorithm, @article], html: { class: 'text-center'} do |f| %>
  <div class="w-50 mx-auto">
    <div class="form-group mx-auto w-50">
      <%= f.fields_for @article do |a| %>
        <div class="form-group mx-auto w-50">
          <%= a.label :title %>
          <%= a.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group mx-auto w-50">
          <%= a.label :article_content %>
          <%= a.text_area :article_content, class: 'form-control' %>
        </div>
      <% end %>
      <div class="text-center">
        <%= f.submit "Add #{@algorithm.name} Article" %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to 'back', algorithm_path(@algorithm) %>