<%= form_tag(users_scoreboard_path, method: 'get', class: 'text-center') do %>
  <%= select_tag :query, options_for_select(['Algorithms', 'Articles']), prompt: '----' %> <!-- Sends values from select to users#scoreboard -->
  <%= submit_tag "Search" %>
<% end %>
<div class="text-center mx-auto md:p-8 p-2 ">
  <div class="cols gap-3">
    <% if @query && @users.count > 0 %>
      <% @users.each.with_index(1) do |user, index| %>
        <div class="m-4 w-40 mx-auto bg-blue-400">
          <span class="inline-block"><%= index %>. <%= user[:username] %></span><br>
          <span><%= @query.capitalize %>: <%= user[@query] %></span>
        </div>
      <% end %>
      </div>
    <% else %>
      <p>Please select from above to see leaderboards</p>
    <% end %>
  </div>
</div>