<div class="w-50 mx-auto">
  <h3 class="pt-2">Add <%= @algorithm.name %> example</h3> 
  <div class="form-section">
    <%= f.fields_for :example do |a| %>
      <div class="text-center">
        <%= a.label :example, class: 'form-label' %><br>
        <%= a.text_area :example, class: 'form-control' %>
      </div>
      <div class="text-center">  
        <%= a.label :language, class: 'form-label' %><br>
        <%= a.select :language, options_for_select(Algorithm::LANGUAGES, "--"), class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>