<div class="max-w-xs mx-auto">
  <span class="inline-block">
    <h3 class="pt-2">Add <%= @algorithm.name %> example</h3>
    <i class="fas fa-question-circle" data-toggle="tooltip" data-html="true" title="Add an article for <%= @algorithm.name %>"></i></span>
  <div class="form-section">
      <div class="text-center">
        <%= f.label :example, class: 'form-label' %><br>
        <%= f.text_area :example, class: 'form-control shadow-md' %>
      </div>
      <div class="text-center">  
        <%= f.label :language, class: 'form-label' %><br>
        <%= f.select :language, options_for_select(Algorithm::LANGUAGES, "--"), class: 'form-control shadow-md' %>
      </div>
    <%= submit_tag "Add new example", class: 'mt-2 submit-btn' %>
  </div>
</div>