<%= simple_form_for @algorithm, html: { class: 'text-center'} do |f| %>
<div>
    <div class="flex flex-col mx-auto mb-4 max-w-xs">
      <%= f.label :name, class: 'mb-2 text-lg text-gray-400' %>
      <%= f.text_field :name, class: 'rounded-md' %>
    </div>
    </div>
    <div class="flex flex-col mx-auto mb-4 max-w-xs">
      <%= f.label :steps, class: 'mb-2 text-lg text-gray-400' %>
      <%= f.text_area :steps, class: 'rounded-md' %>
    </div>
    <div class="mb-2">
      <%= f.simple_fields_for :examples do |a| %>
        <div class="flex flex-col mx-auto mb-4 max-w-xs mx-auto">
          <%= a.label :example, class: 'mb-2 text-lg text-gray-400' %>
          <%= a.text_area :example, class: 'rounded-md' %>
        </div>
        <div class="mb-2 flex flex-col max-w-xs mx-auto">  
          <%= a.label :language, class: 'mb-2 text-lg text-gray-400' %>
          <%= a.select :language, options_for_select(Algorithm::LANGUAGES, "--"), class: 'rounded-md' %>
        </div>
      <% end %>
    </div>
    <div class="mb-2 flex flex-col max-w-xs mx-auto">
      <%= f.label :worst_case, class: 'mb-2 pb-2 text-lg text-gray-400' %>
      <%= f.select :worst_case, options_for_select(Algorithm::RUNTIME, "-") %>
    </div>
    <div class="mb-2 flex flex-col max-w-xs mx-auto">
      <%= f.label :best_case, class: 'mb-2 text-lg text-gray-400' %>
      <%= f.select :best_case, options_for_select(Algorithm::RUNTIME, "-"), class: 'form-select' %>
    </div>
    <div class="text-center">
      <%= f.submit 'Add algorithm', :class => 'p-2 rounded-sm border border-black border-opacity-0.4 hover:bg-gray-300 shadow-sm' %>
    </div>
  </div>
<div class="form-group w-50 mx-auto">
  <h3 class="pt-2">Add new example</h3> 
  <div class="form-group text-center">
    <%= f.simple_fields_for @algorithm.examples.new do |a| %>
      <div class="form-group text-center">
        <%= a.label :example %><br>
        <%= a.text_area :example, class: 'form-control' %>
      </div>
      <div class="form-group text-center">  
        <%= a.label :language %><br>
        <%= a.select :language, options_for_select(Algorithm::LANGUAGES, "--"), class: 'form-control' %>
      </div>
    <% end %>
  </div>
  <%= f.submit "Add new example", class: 'submit-btn' %>
</div>
<% end %>