<%= simple_form_for @algorithm, html: { class: 'text-center'} do |f| %>
  <div class="w-sm mx-auto">
    <div class="font-medium mx-auto  w-50">
      <%= f.label :name, class: 'text-base' %>
      <%= f.text_field :name, class: 'form-control input-group' %>
    </div>
    <div class="font-medium w-50 mx-auto mw-sm">
      <%= f.label :steps %>
      <%= f.text_area :steps, class: 'w-12 focus:ring-indigo-500 form-control' %>
    </div>
    <div class="font-medium">
      <%= f.simple_fields_for :examples do |a| %>
        <div class="font-medium mx-auto  w-50">
          <%= a.label :example %>
          <%= a.text_area :example, class: 'mx-auto' %>
        </div>
        <div class="font-medium">  
          <%= a.label :language %>
          <%= a.select :language, options_for_select(Algorithm::LANGUAGES, "--") %>
        </div>
      <% end %>
    </div>
    <div class="font-medium">
      <%= f.label :worst_case %>
      <%= f.select :worst_case, options_for_select(Algorithm::RUNTIME, "-") %>
    </div>
    <div class="font-medium">
      <%= f.label :best_case %>
      <%= f.select :best_case, options_for_select(Algorithm::RUNTIME, "-"), class: 'form-select' %>
    </div>
    <div class="text-center">
      <%= f.submit %>
    </div>
  </div>
<% end %>