<%= simple_form_for @algorithm, html: { class: 'text-center'} do |f| %>
  <div class="relative mx-auto md:grid md:grid-cols-2">
    <div class="divide-y divide-gray-200">
    <div class="flex flex-col">
      <div class="font-medium mx-auto">
        <%= f.label :name, class: 'leading-loose' %>
        <%= f.text_field :name, class: 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600' %>
      </div>
    </div>
    </div>
    <div class="font-medium mx-auto mw-sm">
      <%= f.label :steps, class: 'leading-loose' %>
      <%= f.text_area :steps, class: 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600' %>
    </div>
    <div>
      <%= f.simple_fields_for :examples do |a| %>
        <div class="font-medium mx-auto ">
          <%= a.label :example, class: 'leading-loose' %>
          <%= a.text_area :example, class: 'px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600' %>
        </div>
        <div>  
          <%= a.label :language, class: 'leading-loose' %>
          <%= a.select :language, options_for_select(Algorithm::LANGUAGES, "--") %>
        </div>
      <% end %>
    </div>
    <div>
      <%= f.label :worst_case, class: 'leading-loose' %>
      <%= f.select :worst_case, options_for_select(Algorithm::RUNTIME, "-") %>
    </div>
    <div>
      <%= f.label :best_case, class: 'leading-loose' %>
      <%= f.select :best_case, options_for_select(Algorithm::RUNTIME, "-"), class: 'form-select' %>
    </div>
    <div class="text-center">
      <%= f.submit %>
    </div>
  </div>
<% end %>