<div class="row mx-auto container">
  <div class="col mx-auto min-vw-75">
    <%= react_component("Algorithm", { algorithm: @algorithm, examples: @algorithm.examples, key: @algorithm.id }, {prerender: true}) %>
    <%= link_to 'Delete', algorithm_path(@algorithm), method: :delete, data: { confirm: "Are you certain you want to delete #{@algorithm.name}?" }%>
  </div>
  <div class="text-center col">
    <%= render 'form', f:@algorithm, a:@algorithm.examples, html: { class: 'text-right'} %>
  </div>
</div>
<div class="text-center pt-4">
  <p>Add article about <%= @algorithm.name %> <%= link_to 'here', new_algorithm_articles_path(@algorithm) %></p>
</div>