<h1 class="text-center text-6xl font-semibold header-text text-green-700"><%= @algorithm.name %></h1>
<div class="grid grid-cols-2 px-3"> 
  <div class="mx-auto container">
    <div class="mx-auto min-vw-75">
      <%= react_component("Algorithm", { algorithm: @algorithm, examples: @algorithm.examples, key: @algorithm.id }, {prerender: true}) %>
    </div>
    <button class="ml-4 btn-sm btn btn-outline-secondary"><%= link_to "Delete #{@algorithm.name}", algorithm_path(@algorithm), method: :delete, data: { confirm: "Are you certain you want to delete #{@algorithm.name}?" }%></button>
    <button class="ml-4 btn-sm btn btn-outline-secondary"><%= link_to "Add #{@algorithm.name} article", new_algorithm_articles_path(@algorithm) %></button>
  </div>
  <div class="text-center mx-auto pt-4">
    <div class="text-center">
      <%= simple_form_for @algorithm, remote: true, html: { class: 'text-center'} do |f| %>
        <%= render 'example_form', f:@algorithm, html: { class: 'text-right'} %>
      <% end %>
    </div>
  </div>
</div>