<!DOCTYPE html>
<html>
  <head>
    <title>AlgorithmDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container pt-2">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/algorithms/new">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">Articles</a>
        </li>
      </ul>
      <% if flash[:message] %>
        <div class="alert text-center <%= flash[:class] %>">
          <span onclick="this.parentElement.style.display='none';">
            &times;
          </span>
          <%= flash[:message] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
