<!DOCTYPE html>
<html>
  <head>
    <title>AlgorithmDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  
  </head>

  <body>
    <div class="mt-0">
      <% if current_user %>
       <%= render 'layouts/navbar' %>
      <% end %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger text-center text-red-400"><%= alert %></p>
      <% end %>
      <div class="p-3 mt-16 flex flex-col h-screen w-11/12 mx-auto font-mono border border-opacity-30 border-black rounded-xl">
        <%= yield %>
      </div>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
