  <h2>Edit <%= current_user.username %></h2>
<div class="text-center">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div>
      <div class="form-section">
        <%= f.label :email, class: 'form-label' %>
        <%= f.input :email, label: false, class: 'rounded-md shadow-md', class: 'rounded-md' %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="form-section">
        <%= f.label :password, class: 'form-label'%>
        <%= f.input :password, label: false, class: 'rounded-md shadow-md' %>
      </div>
      <div class="form-section">
        <%= f.label :password_confirmation, class: 'form-label'%>
        <%= f.input :password_confirmation,
                    label: false, class: 'rounded-md shadow-md' %>
      </div>
      <div class="form-section">
        <%= f.label :current_password, class: 'form-label'%>
        <%= f.input :current_password,
                    label: false, class: 'rounded-md shadow-md' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'submit-btn' %>
    </div>
  <% end %>

  <p>Unhappy?<br><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'text-green-700' %></p>
  <%= link_to "Back", :back, class: 'text-green-700' %>

</div>